html, body {
	min-height: 100vh;
	background: url(https://i2.wp.com/www.emotioncard.com.br/wp-content/uploads/2017/08/mrRobot3.jpg?fit=600%2C549&ssl=1) no-repeat center top fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.mask {
	position: absolute;
	background-color: black;
	opacity: 0.7;
	min-height: 100vh;
	z-index: 0;
}